<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Short URL</title>
    <link href="{{ url_for('static', filename='application.css') }}" rel="stylesheet">
</head>
<body>
    <div class="grid">
        <div class="centered grid__col--8 panel--padded--centered">
            <h1 class="headline-primary--grouped">ShortURL</h1>
            <h2 class="headline-secondary--grouped">Make a note of this information!</h2>
        </div>
        <div class="centered grid__col--4 ">

            <label class="form__label" for="newUrl">URL:</label> 
            <input class="form__input" type="text" id="url" name="newUrl" placeholder="URL" value="{{ full_url }}" disabled>
            
            <label class="form__label" for="code">Code:</label> 
            <input class="form__input" type="text" id="code" name="code" placeholder="Code" value="{{ code }}" disabled>

            <label class="form__label" for="codeUrl">New URL:</label> 
            <input class="form__input" type="text" id="codeUrl" name="codeUrl" placeholder="Coded URL:" value="{{ code_url }}" disabled>

            <label class="form__label" for="expiry">Expires:</label> 
            <input class="form__input" type="text" id="expiry" name="expiry" placeholder="Expiry" value="{{ expiry }}" disabled>
            
        </div>
    </div>
</body>
</html>